{% extends "base.html" %}
{% block content %}
<div sectiononload2 id="about" ng-init='init()' class="none">
  <div class="info col-xs-12 col-sm-12 col-md-8">
    <img ng-src="https://dgi13b60bi6m7.cloudfront.net/about/DSC09650.jpg">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <br>
    <p>Leslie is a senior at the University of Texas at Austin, studying computer science and math.
    </p>
    <br>
    <a href="http://instagram.com/lesliearroz">Instagram</a><br><br>
    <a href="mailto:leslierice@utexas.edu">leslierice@utexas.edu</a><br><br>
    <a href="https://s3-us-west-2.amazonaws.com/leslie-site/LeslieRiceResume.pdf">Resume</a><br><br>
    <a href="https://www.linkedin.com/in/leslie-rice-b2207780">LinkedIn</a><br><br>
    <a href="https://www.github.com/leslierice">GitHub</a>
  </div>
</div>
{% endblock %}
