{% extends "base.html" %}
{% block content %}
<div sectiononload2 id="about" ng-init='init()' class="none">
    <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      <a href="http://instagram.com/lesliearroz">Instagram</a><br><br>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      <a href="mailto:leslierice@utexas.edu">leslierice@utexas.edu</a><br><br>
    </div>
    <div class="col-md-2">
    </div>
    </div>
    <div class="row">
    <div class="info col-xs-12 col-sm-12 col-md-12">
        <img ng-src="https://dgi13b60bi6m7.cloudfront.net/about/IMG_1682.jpg">
    </div>
    </div>
</div>
{% endblock %}
