<!doctype html>
<html ng-app="wwwApp">

<head>
  <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/lib/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/site.css">
  <title>{{ title }} - Leslie Rice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KK7K6S"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KK7K6S');</script>
    <!-- End Google Tag Manager -->


<div id="wrapper" ng-controller="gridController" class="container-fluid">
  <div id="nav-home" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a href="/"><span>Leslie Rice</span></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li class="visible-xs"><a href="#photography" class="list-group-item main" data-toggle="collapse">Photography<span class="caret"></span></a>
              <div class="collapse" id="photography">
                <a href="/photography/people" class="list-group-item">People</a>
                <a href="/photography/places" class="list-group-item">Places</a>
                <a href="/photography/food" class="list-group-item">Food</a>
                <a href="/photography/pseudohumans" class="list-group-item">Pseudohumans</a>
                <a href="/photography/journal" class="list-group-item">Journal</a>
            </div></li>
            <li class="btn-group hidden-xs">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Photography <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/photography/people">People</a></li>
                <li><a href="/photography/places">Places</a></li>
                <li><a href="/photography/food">Food</a></li>
                <li><a href="/photography/pseudohumans">Pseudohumans</a></li>
                <li><a href="/photography/journal">Journal</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="main" class="row">
    {% block content %}
    {% endblock %}
  </div>

</div>
<script src="/static/lib/js/jquery.min.js"></script>
<script src="/static/lib/js/dropdown.js"></script>
<script src="/static/lib/js/collapse.js"></script>
<script src="/static/lib/js/angular.js"></script>
<script src="/static/js/app.js"></script>
</body>

</html>
