{% extends "base.html" %}
{% block content %}
<div id="spin" class="col-xs-12 col-sm-12 col-md-12">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</div>
<div class="content" id="image-grid" ng-init='init(["DSC03029","DSC03395","DSC07249",
                                                   "DSC08272","DSC06601","DSC08757",
                                                   "DSC05115","DSC06774","DSC06743",
                                                   "DSC06937","DSC07364","DSC07492",
                                                   "DSC03228","DSC07615","DSC07187",
                                                   "DSC05630","DSC05050","DSC07020",
                                                   "DSC06964","DSC04382","DSC07496",
                                                   "DSC09251","DSC09246","DSC05043",
                                                   "DSC06942","DSC07127","DSC07343",
                                                   "DSC08678"
                                                   ])'>
 <div ng-repeat='(imageId, image) in images track by $index'>
   <div ng-if="imageShow==imageId">
     <img right-click ng-click="clicked(-1)" ng-src="../static/img/food/{[image]}.jpg" class="image-active">
   </div>
   <div ng-hide="getRow(imageShow)==getRow(imageId)" sectiononload class="col-xs-12 col-sm-12 col-md-4 none">
     <img right-click ng-click="clicked(imageId)" ng-src="../static/img/food/{[image]}.jpg" class="image-default">
   </div>
 </div>
</div>
{% endblock %}
