{% extends "base.html" %}
{% block content %}
<div id="spin" class="col-xs-12 col-sm-12 col-md-12">
 <i class="fa fa-circle-o-notch fa-spin"></i>
</div>
<div class="content">
<div ng-hide="imageActive>=0" id="showMore">
    <button ng-cloak ng-show="showPrev()" ng-click=prev() type="button" class="traverse btn btn-info btn-arrow-right"><</button>
    <button ng-show="showNext()" ng-click=next() type="button" class="traverse btn btn-info btn-arrow-right">></button>
</div>
<div id="image-grid" ng-init='init(["DSC03310","DSC03413","DSC03794",
                                                   "DSC04215","DSC04643","DSC08119",
                                                   "DSC03937","DSC07911","DSC04080",
                                                   "DSC04749","DSC04750","DSC04768",
                                                   "DSC05256","DSC07626","DSC07783",
                                                   "DSC04656","DSC08183","DSC04721",
                                                   "DSC08154","DSC07026","DSC08209",
                                                   "DSC03505","DSC05274","DSC07461",
                                                   "DSC03430","DSC08296","DSC03969",
                                                   "DSC04297","DSC04759","DSC08143",
                                                   "DSC07006","DSC03858","DSC04044",
                                                   "DSC00276","DSC04638","DSC04862",
                                                   "DSC00382","DSC00634","DSC07004",
                                                   "DSC00405","DSC00426","DSC00440",
                                                   "DSC05225","DSC04576"
                                                   ])'>
<div ng-if="imageActive>=0">
<img right-click ng-click="clicked(-1)" ng-src="https://dgi13b60bi6m7.cloudfront.net/places/{[activeImage]}.jpg" class="image-active">
</div>
 <div ng-repeat='(imageId, image) in viewImages track by $index'>
   <div ng-hide="imageActive>=0" sectiononload class="col-xs-12 col-sm-12 col-md-4 none">
     <img right-click ng-click="clicked(imageId)" ng-src="https://dgi13b60bi6m7.cloudfront.net/places/{[image]}.jpg" class="image-default">
   </div>
 </div>
 <br>
</div>
</div>
{% endblock %}
