{% extends "base.html" %}
{% block content %}
<div id="spin" class="col-xs-12 col-sm-12 col-md-12">
 <i class="fa fa-circle-o-notch fa-spin"></i>
</div>
<div class="content">
<div ng-hide="imageActive>=0" id="showMore">
    <button ng-cloak ng-show="showPrev()" ng-click=prev() type="button" class="traverse btn btn-info btn-arrow-right"><</button>
    <button ng-show="showNext()" ng-click=next() type="button" class="traverse btn btn-info btn-arrow-right">></button>
</div>
<div id="image-grid" ng-init='init(["DSC02252","DSC03963","DSC07233",
                                                   "DSC04905","DSC09103","DSC06575",
                                                   "DSC07392","DSC06892","DSC07438",
                                                   "DSC07430","DSC02527","DSC08427",
                                                   "DSC08438","DSC08850","DSC04904",
                                                   "DSC07294","DSC08385","DSC08619"
                                                   ])'>
  <div ng-if="imageActive>=0">
   <img right-click ng-click="clicked(-1)" ng-src="https://dgi13b60bi6m7.cloudfront.net/pseudohumans/{[activeImage]}.jpg" class="image-active">
  </div>
 <div ng-repeat='(imageId, image) in viewImages track by $index'>
   <div ng-hide="imageActive>=0" sectiononload class="col-xs-12 col-sm-12 col-md-4 none">
     <img right-click ng-click="clicked(imageId)" ng-src="https://dgi13b60bi6m7.cloudfront.net/pseudohumans/{[image]}.jpg" class="image-default">
   </div>
 </div>
 <br>
</div>
</div>
{% endblock %}
