{% extends "base.html" %}
{% block content %}
<div id="spin" class="col-xs-12 col-sm-12 col-md-12">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</div>
<div class="content" id="image-grid" ng-init='init(["DSC02252","DSC03963","DSC07233",
                                                   "DSC04905","DSC09103","DSC06575",
                                                   "DSC07392","DSC06892","DSC07438",
                                                   "DSC07430","DSC02527","DSC08427",
                                                   "DSC08438","DSC08850","DSC04904",
                                                   "DSC07294","DSC08385","DSC08619"
                                                   ])'>
 <div ng-repeat='(imageId, image) in viewImages track by $index'>
   <div ng-if="imageShow==imageId">
     <img right-click ng-click="clicked(-1)" ng-src="https://dgi13b60bi6m7.cloudfront.net/pseudohumans/{[image]}.jpg" class="image-active">
   </div>
   <div ng-hide="getRow(imageShow)==getRow(imageId)" sectiononload class="col-xs-12 col-sm-12 col-md-4 none">
     <img right-click ng-click="clicked(imageId)" ng-src="https://dgi13b60bi6m7.cloudfront.net/pseudohumans/{[image]}.jpg" class="image-default">
   </div>
 </div>
 <div id="showMore">
     <a ng-click=showMore() ng-show="show()">Show More</a>
 </div>
 <br>
</div>
{% endblock %}
